---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  cert-*,
  cppcoreguidelines-avoid-non-const-global-variables,
  misc-const-correctness,
  misc-definitions-in-headers,
  misc-misplaced-const,
  misc-unused-parameters,
  modernize-deprecated-headers,
  modernize-loop-convert,
  modernize-redundant-void-arg,
  modernize-use-bool-literals,
  modernize-use-noexcept,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  performance-implicit-conversion-in-loop,
  performance-inefficient-string-concatenation,
  performance-inefficient-vector-operation,
  readability-else-after-return,
  readability-implicit-bool-conversion,
  readability-convert-member-functions-to-static,
  readability-make-member-function-const,
  readability-misleading-indentation,
  readability-misplaced-array-index
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle:     none
