################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArbitarilyLongNumberCalculator/v17
/.vs/ArbitarilyLongNumberCalculator/FileContentIndex
/.vs/cmake.db
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/build/x64-Debug/.cmake/api/v1/reply/cache-v2-bbcc716e2bf988e0e96a.json
/build/x64-Debug/.cmake/api/v1/reply/cache-v2-ed423b3b053a05ee1e92.json
/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-4f8eb011df0dc99ed25f.json
/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-cea38635f154b1cc5521.json
/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-445d0738a3bffd3af58f.json
/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-87f6385688e368b0ef42.json
/build/x64-Debug/.cmake/api/v1/reply/index-2023-01-22T23-20-00-0228.json
/build/x64-Debug/.cmake/api/v1/reply/index-2023-01-23T01-03-50-0070.json
/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
/build/x64-Debug/CMakeFiles/CMakeOutput.log
/build/x64-Debug/CMakeFiles/rules.ninja
/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/build/x64-Debug/src/cmake_install.cmake
/build/x64-Debug/src/CTestTestfile.cmake
/build/x64-Debug/Testing/Temporary/LastTest.log
/build/x64-Debug/build.ninja
/build/x64-Debug/CMakeCache.txt
/build/x64-Debug/cmake_install.cmake
/build/x64-Debug/compile_commands.json
/build/x64-Debug/CTestTestfile.cmake
/build/x64-Debug/DartConfiguration.tcl
/build/x64-Debug/src/CMakeFiles/calc.dir
/build/x64-Debug/src
/build/x64-Debug
/out/build/x64-Debug
/enc_temp_folder
/.vs
